body {
    background-color: skyblue;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

.mylang ul, .mygroup ul {
    text-align: center;
    list-style-position: inside;
}

.mylang li, .mygroup li {
    font-style: italic;
}

.mylang p, .mygroup p {
    font-weight: bold;
}
