div.heading1{
    text-align: center;
}
.image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    background-color: #faefcf;
}
div.heading3{
    text-decoration: underline;
}
table, th, td{
    border: 1px solid black;
}
