
img 
{
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    border-radius: 50%;
}
a{
    font-size: larger;

}
h1{

    font-style: bold;
    font-family: 'Times New Roman', Times, serif;

}
h2{
    font-style: italic;
    font-style: bold;
    font-family: fantasy;
}
p{
    font-style: oblique;
}

ul{
    list-style: circle;
    font-style: oblique;
}